#parallax-wrapper {
  height: 100vh;

  overflow-x: hidden;
  perspective: 1px;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#parallax-A {
  background-color: red;
  height: 150rem;
}

#parallax-B {
  background-color: aqua;
  height: 500px;
  transform: translateZ(-2px);
}

#parallax-C {
  top: 300px;
  background-color: blueviolet;
  height: 500px;
  transform: translateZ(-1px);
}